.status-update {
    width: 100%;
    margin-bottom: 20px !important;
}

.home-profile-post {
    width: 100%;
    margin-bottom: 20px !important;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #52C41A;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.post {
    width: 100%;
    margin-bottom: 20px !important;
}