.background {
    background-image: linear-gradient(
      141deg,
      #6eb5eb 0,
      #3298dc 71%,
      #1790ff 100%
    );
    min-height: calc(100vh);
}

.form-card {
    width: min(500px, 85vw);
}
  