.profile-card {
    width: 100%;
    margin-bottom: 20px !important;
}

.profile-info {
    text-align: center;
}

.profile-post {
    width: 100%;
    margin-bottom: 20px !important;
}

.post {
    width: 100%;
    margin-bottom: 20px !important;
}

.name {
    color: #000000;
}

.profile-status-update {
    width: 100%;
    margin-bottom: 20px !important;
}